@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-bg-white: #fff;
  --color-white: #fff;
  --border-sub-rgb: rgb(128, 161, 243);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ui.container {
  min-height: 80vh;
}

.half .ui.cards {
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-sb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-aie {
  align-items: end;
}

.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}

.position-shaft {
  position: relative;
}

.position-item-bl {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 8px;
  background-color: var(--background-bg-white);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 0.28571429rem;
}

.position-item-c {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  padding: 8px;
  background-color: var(--background-bg-white);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.14);
}

.position-hide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hover-view .view {
  display: none;
}

.hover-view:hover .view {
  display: block;
}

.overflow-hi {
  overflow: hidden;
}
.overflow-ysc {
  overflow-y: auto;
  overflow-x: hidden;
}
.overflow-xsc {
  overflow-y: hidden;
  overflow-x: auto;
}


