.maker-flow-image .camnvas {
  z-index: 0;
}

.write-img > .canvas-container > .canvas-container > .upper-canvas {
  position: relative;
  z-index: 12;
}

.write-img > .canvas-container > .canvas-container > .upper-canvas {
  position: relative;
  z-index: 12;
}

.maker-flow-image .video {
  position: relative;
  z-index: 13;
}

.make-flow-image .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
}

.make-flow-image .tab-content.view {
  position: relative;
  z-index: 10;
  visibility: visible;
}

.content-categoze .file-output {
  max-width: 340px;
}

.content-boxs .box-list {
  padding: 8px;
  border-bottom: 1px solid var(--border-sub-rgb);
}

.content-boxs .box-item {
  position: relative;
  margin: 0 0 8px;
  padding: 8px;
  border: 1px solid var(--border-sub-rgb);
}

.content-boxs .box-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.content-boxs .box-item:hover .actions {
  display: block;
}

.content-boxs .side-info {
  padding: 8px;
  border: 1px solid #41bcb6;
  color: #41bcb6;
}

.content-boxs .vertical-list {
  margin: 0 0 8px;
  color: var(--color-white);
}

.content-boxs .vertical-item:nth-child(odd) {
  background-color: #46a5c4;
}
.content-boxs .vertical-item:nth-child(even) {
  background-color: #448ac0;
}
.content-boxs .vertical-item {
  margin: 0 0 8px;
  padding: 8px;
}

.content-boxs .tag {
  display: inline-block;
  padding: 2px;
  background-color: #46a5c4;
  color: var(--color-white);
}

.container-phases-means .phase-caption {
  max-width: 180px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container-phases-means .phase-math {
  max-width: 80px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container-phases-means .phase-math:hover {
  overflow: visible;
}

.container-phases-means .phase-item {
  position: relative;
  padding: 4px;
  background-color: #4183c4;
  color: var(--color-white);
  border: 1px solid #448ac0;
}

.container-phases-means .hover-view {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: var(--color-white);
  color: #4183c4;
  border: 1px solid #4183c4;
}

.container-phases-means .phase-item:hover .hover-view {
  display: block;
}

.container-phases-means .phase-item .caption {
  padding: 2px;
}
