
.maker-flow-image .camnvas {
  z-index: 0;


.write-img > .canvas-container > .canvas-container > .upper-canvas {
  position: relative;
  z-index: 12;
}}

.write-img > .canvas-container > .canvas-container > .upper-canvas {
  position: relative;
  z-index: 12;
}

.maker-flow-image  .video {
  position: relative;
  z-index: 13;
}

.make-flow-image .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
}

.make-flow-image .tab-content.view {
  position: relative;
  z-index: 10;
  visibility:visible;
}


